.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.heading{
  margin-top:18%;
  text-align: center;
  color: rgb(22, 204, 92);
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.head{
  
  text-align: center;
  color: rgb(22, 204, 92);
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.btn{
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(68, 110, 224);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding:15px;
  width:20%;
}
.center{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
